<div class="home-container">
  <div class="home-container-text">
    <div class="home-container-text-title">
      <h1>Week-end fly</h1>
    </div>
    <div class="home-container-text-slogan">
      <h2>Good <em>weather</em> and <em> accommodation</em> waiting you at destination!</h2>
    </div>
    <div>
      <%= link_to "Plan trip!", root_path, class:"btn btn-primary" %>
    </div>
  </div>
  <div class="home-container-image">
  </div>
</div>
<article class="home-article how">
  <h1>How does it work?</h1>
  <div class="home-article-container">
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("settings.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Trip parameters</h2>
        Choose parameters as departure airport,take-off time, arrival day and flying distance.
      </div>
    </div>
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("map.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Destination</h2>
        On an interactive map, you'll find eligible airports having good weather in the flying radius.
      </div>
    </div>
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("briefcase.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Accommodation</h2>
        For each potential destination airport, we'll suggest you some available accommodations. </br>Make your choice! 
      </div>
    </div>
  </div>
</article>
<article class="home-article why">
<h1 class="home-article-title">Why register?</h1>
  <div class="home-article-container">
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("sliders.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Account Preferences</h2>
        On your user account, store your default values such as home base airport, average flying time, distance units, ...
      </div>
    </div>
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("message-circle.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Community</h2>
        Be part of our community, and share with other members reviews on destinations airports (Facilities, renting, ...)
      </div>
    </div>
    <div class="home-article-container-element">
      <div class="home-article-container-element-logo">
        <%= image_tag("award.svg", style: "height:100px; width:auto") %>
      </div>
      <div class="home-article-container-element-text">
        <h2>Become Premium</h2>
        Being part of our premium members will let you access to additional features, personalized offers with our preferred service providers.
      </div>
    </div>
  </div>
</article>
<footer>
  <div class="footer-left">
      <%= link_to root_path do %>
        <%= image_tag("logo.png", alt: "Weekend-fly logo", class: "avatar-large") %>
      <% end %>
  </div>
  <div class="footer-center">
    <p>Disclaimer</p>
  </div>
  <div class="footer-right">
    Contact us</br>
    <%= mail_to "contact@as-consult.io", "contact@as-consult.io", class: "email" %> </br>
    +33 6 07 21 84 63
  </div>
</footer>
